.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
.notebook_cache/

# Data
!data/raw/
!data/processed/
!data/external/
!*.csv
!*.tsv
*.parquet
*.xlsx
*.zip

# Models
models/
*.pkl
*.joblib
*.h5

# Experiments cache
mlruns/
wandb/
